<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Date and Time</title>
    <style media="screen">
      .wrapper{
        width: 500px;
        margin: 50px auto;
        font-family: monospace;
        color: #666;
        text-align: center;
      }
      .time{
        font-size: 2.5em;

      }
      .time, h1{
        padding: 10px;
        border-radius: 5px;
        border: thick solid #666;
        box-shadow: 15px 15px 75px #999;
      }

    </style>
  </head>
  <body>
    <div class="wrapper">
      <h1>The curent time and date</h1>
      <div class="time">{{ time }}</div>
    </div>

  </body>
</html>
