th{
    text-align: left;
    padding: 8px;
}
table{
    background-color: #fff;
    box-shadow: 3px 3px 10px #bbb;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

th:nth-child(3){
    text-align: center;
}

td{
    padding: 0 8px;
}
td:nth-child(3){
    text-align: center;
    padding: 3px 0 0 0;
}
td{
    border-top: thin dashed #9482ff;
}