/* You can add global styles to this file, and also import other style files */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app-root{
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    color: #555;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #bbb;
}
body{
    background-color: #eee;
}

.h2{
    display: inline-block;
    font-weight: normal;
    font-size: 1.4em;
    margin: auto 10px;
    text-align: center;
    text-decoration: none;
    background-color: inherit;
    border: none;
    border-bottom: 3px #bbb solid;
}
.h2:hover{
    border-bottom: 3px #444 solid;
}
h1{
    color: white;
    background-color: black;
    padding: 20px;
    margin: 0 0 15px 0;
}