<!--The content below is only a placeholder and can be replaced.-->
<div  class="wrapper" style="text-align:center">
  <h1>Welcome to Dojo Weather</h1>
  <button [routerLink]="['tulsa']">Tulsa</button>
  <button [routerLink]="['seatle']">Seatle</button>
  <button [routerLink]="['sanjose']">San Jose</button>
  <button [routerLink]="['burbank']">Burbank</button>
  <button [routerLink]="['dallas']">Dallas</button>
  <button [routerLink]="['dc']">DC</button>
  <button [routerLink]="['chicago']">Chicago</button>
  <router-outlet></router-outlet>
</div>



