.wrapper{
  margin: 250px auto;
  text-align: center;
  font-family: verdana;
  color: #333;
}
.butt{
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: #333;
  margin: 40px 15px;
  display: inline-block;
}
.butt:hover{
  background-color: #000;
}
